@font-face {
    font-family: "LibreBaskerville-Bold";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "Oxygen-Regular";
    src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}
.text{
    font-family: "LibreBaskerville-Bold";
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
padding-top: 185px;
margin-left: 100px;
}
.text1{
    width: 634px;
height: 60px;
font-family: "Oxygen-Regular";
font-size: 18px;
font-weight: 400;
line-height: 29.7px;
text-align: left;
padding-top: 30px;
margin-left: 100px;
}
.section_img1{
    width: 392px;
height: 358px;
background-color:#E4E2D3;

}
.guruh2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 58px;
}
.img1{
    margin-top: 24px;
    margin-left: 24px;
    cursor: pointer;
}
.text2{
    width: 115px;
height: 20px;
font-family: "Oxygen-Regular";
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
padding-top: 22px;
margin-left: 26px;
}
.bod{
    width: 38px;
height: 1px;
border: 1px solid black;
margin-left: 330px;
margin-top: 10px;
}
.hr1{
    width: 1240px;
 margin-left: 100px;
 margin-top: 40px;
color: gray;
}
.text3{
    font-family: "LibreBaskerville-Bold";
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
padding-top: 55px;
margin-left: 100px;
}
.text4{
    width: 652px;
height: 60px;
font-family: "Oxygen-Regular";
font-size: 18px;
font-weight: 400;
line-height: 29.7px;
text-align: left;
padding-top: 30px;
margin-left: 100px;
}
.text5{
    width: 638px;
height: 60px;
font-family: "Oxygen-Regular";
font-size: 18px;
font-weight: 400;
line-height: 29.7px;
text-align: left;
padding-top: 30px;
margin-left: 100px;

}